.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    height: 130px;
}

.profile img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.profile span {
    font-size: 3rem;
    font-weight: 700;
}

.profile-vip {
    position: absolute;
    top: 0;
    right: 30px;
    display: flex;
}

.profile-vip span {
    width: 124px;
}

.profile-vip span:hover {
    opacity: 0.8;
}

.profile-vip i {
    background-color: var(--active-color);
    width: 28px;
    border-radius: 50%;
    color: #fff;
}

.profile-vip i:hover {
    color: #fff !important;
}

.music-option {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.music-option ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    width: 500px;
    height: 32px;
    background-color: var(--active-color);
    border-radius: 16px;
}

.tab-item,
.tab-more {
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 124px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
}

.tab-item.active {
    background-color: #816399;
}

.tab-item:first-child {
    margin-left: 3px;
}

.option-all,
.option-music,
.option-playlist,
.option-singer {
    margin-left: 60px;
    margin-right: 60px;
}

.option-all .music-list ul {
    height: 241px;
    overflow-y: auto;
}

/* ------------------------------- */


.option-heading h3 {
    font-size: 2rem;
    margin: 0 0 20px 0;
    padding: 0;
}

.option-heading-all {
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateX(-20px);
    /* opacity: 0; */
    transition: all linear 0.35s;
}

.option-heading-all span {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 8px;
}

.option-heading-all i {
    font-size: 1.4rem;
    margin-top: -2px;
}

.option-heading-upload {
    width: 104px;
    background-color: var(--active-color);
}

.option-heading-play {
    width: 138px;
    background-color: var(--primary-color);
}

.songs-item {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid var(--active-color);
}

.songs-item:hover {
    background-color: var(--active-color);
    cursor: pointer;
}

.songs-item.active {
    background-color: var(--active-color);
}

.songs-item.active .cs-playbtn {
    display: flex;
}

.songs-item:hover .songs-item_list {
    display: flex !important;
}

.songs-item:hover .songs-item_time {
    display: none !important;
}

.songs-item:hover>.songs-item-first>.position-relative>.cs-playbtn {
    display: flex;
}

.songs-item-first {
    display: flex;
    align-items: center;
}

.songs-item-content {
    width: 300px;
}

.songs-item-img {
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.play,
.play-right {
    position: absolute;
    width: 100%;
    top: 0;
}

.playing {
    height: 18px;
}

.songs-item-content span {
    font-size: 12px;
    color: var(--text-color);
}

.songs-item-center {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    width: 300px;
    cursor: default;
}

.songs-item-end {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 210px;
}

.songs-item-end div:last-child {
    width: 52px;
}

.songs-item_list {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.songs-item_list:hover {
    background-color: var(--active-color);
}

.songs-item_time {
    width: 50px;
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: right;
    float: right;
}